<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Reklama</h3>
  </div>
  <div class="panel-body" style="padding: 0; text-align: center;">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- jug_elastyczne -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6288904194567199"
         data-ad-slot="3962047364"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</section>