<section class="panel panel-default visible-md visible-lg">
  <div class="panel-heading">
    <h3 class="panel-title">Facebook</h3>
  </div>
  <div class="panel-body visible-lg" style="padding: 5px 13.5px;">
    <div class="fb-like-box" data-href="https://facebook.com/tak.dla.juga.w.toruniu" data-width="232" data-height="350" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false">&nbsp;</div>
  </div>
  <div class="panel-body visible-md" style="padding: 5px 8px;">
    <div class="fb-like-box" data-href="https://facebook.com/tak.dla.juga.w.toruniu" data-width="190" data-height="320" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false">&nbsp;</div>
  </div>
</section>