<section class="panel panel-primary hall-of-fame" class="ng-cloak" ng-cloak>
  <div class="panel-heading">
    <h3 class="panel-title">Hall of Fame</h3>
  </div>
  <div class="panel-body text-center" ng-repeat="speaker in mainCtrl.randomSpeakers">
  	<div>
  		<img class="no-border" ng-src="[[mainCtrl.imageUrl(speaker.img)]]" />
  	</div>
  	<div>
  		<h4 ng-bind="speaker.name"></h4>
  	</div>
  </div>
  <div class="panel-footer text-right">
  	<a href="{{ root_url }}/hall-of-fame/" class="btn btn-primary btn-sm">Więcej</a>
  </div>
</section>