<section class="panel panel-default recommendations">
  <div class="panel-heading">
    <h3 class="panel-title">Polecamy</h3>
  </div>
  <div class="panel-body">
    <span class="recommended">
      <a href="http://scalar-conf.com" target="_blank" class="no-text-decoration">
        <img src="{{ root_url }}/images/recommended/scalar-2015.png" alt="Scalar 2015" title="Scalar 2015" />
      </a>
    </span>
    <span class="recommended">
      <a href="http://2015.devcrowd.pl" target="_blank" class="no-text-decoration">
        <img src="{{ root_url }}/images/recommended/devcrowd15.png" alt="DevCrowd'15" title="DevCrowd'15" />
      </a>
    </span>
    <span class="recommended">
      <a href="http://4developers.org.pl" target="_blank" class="no-text-decoration">
        <img src="{{ root_url }}/images/recommended/4developers.png" alt="4Developers" title="4Developers" />
      </a>
    </span>
    <span class="recommended">
      <a href="http://2015.geecon.org" target="_blank" class="no-text-decoration">
        <img src="{{ root_url }}/images/recommended/geecon2015.jpg" alt="GeeCON 2015" title="GeeCON 2015" />
      </a>
    </span>
    <span class="recommended">
      <a href="http://jdd.org.pl" target="_blank" class="no-text-decoration">
        <img src="{{ root_url }}/images/recommended/jdd.png" alt="JDD 2015" title="JDD 2015" />
      </a>
    </span>
  </div>
</section>