<section class="panel panel-default recommendations">
  <div class="panel-heading">
    <h3 class="panel-title">Polecamy</h3>
  </div>
  <div class="panel-body">
    <div class="recommended">
      <a href="http://www.geecon.org" target="_blank" >
        <img src="{{ root_url }}/images/recommended/geecon2014.png" alt="GeeCON 2014" />
      </a>
    </div>
    <div class="recommended">
      <a href="http://2014.devcrowd.pl" target="_blank" >
        <img src="{{ root_url }}/images/recommended/devcrowd14.png" alt="DevCrowd'14" />
      </a>
    </div>
  </div>
</section>