<section class="panel panel-default recommendations">
  <div class="panel-heading">
    <h3 class="panel-title">Polecamy</h3>
  </div>
  <div class="panel-body">
    <span class="recommended">
      <a href="http://2015.microservices.geecon.org/" target="_blank" class="no-text-decoration">
        <img src="{{ root_url }}/images/recommended/geecon-microservices-2015.jpg" alt="GeeCON Microservices" title="GeeCON Microservices" />
      </a>
    </span>
    <span class="recommended">
      <a href="http://2015.agilebyexample.com" target="_blank" class="no-text-decoration">
        <img src="{{ root_url }}/images/recommended/agile-by-example-2015.jpg" alt="AgileByExample 2015" title="AgileByExample 2015" />
      </a>
    </span>
    <span class="recommended">
      <a href="http://jdd.org.pl" target="_blank" class="no-text-decoration">
        <img src="{{ root_url }}/images/recommended/jdd.png" alt="JDD 2015" title="JDD 2015" />
      </a>
    </span>
    <span class="recommended">
      <a href="http://2015.mobilization.pl" target="_blank" class="no-text-decoration">
        <img src="{{ root_url }}/images/recommended/mobilization5.png" alt="Mobilization^5" title="Mobilization^5" />
      </a>
    </span>
  </div>
</section>