<section class="panel panel-default visible-md visible-lg">
  <div class="panel-heading">
    <h3 class="panel-title">Twitter</h3>
  </div>
  <div class="panel-body">
    <a class="twitter-timeline" href="https://twitter.com/TorunJUG" data-widget-id="454238973842309120"
      data-chrome="transparent noheader nofooter noborders noscrollbar"
      data-tweet-limit="3"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</section>