<p class="text-muted credits">
  Copyright &copy; 2014-{{ site.time | date: "%Y" }} by {{ site.author }}<br>
  <small>
      <span class="credit">Powered by <a href="http://octopress.org" target="_blank">Octopress</a></span>,
      <span class="credit">customized with <a href="https://github.com/kAworu/octostrap3" target="_blank">octostrap3</a></span>.
      <span class="credit">Styled with <a href="http://bootswatch.com/cosmo/" target="_blank">cosmo</a> theme</span>
      <span class="credit">by <a href="http://bootswatch.com" target="_blank">Bootswatch</a></span>.
  </small>
</p>
