<!--<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">-->
<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap-cosmo.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
