<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ root_url }}/">{{ site.title }}</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if page.navbar == 'About' %}class="active"{% endif %}>
                    <a href="{{ root_url }}/about/">O grupie</a>
                </li>
                <li {% if page.navbar == 'News' %}class="active"{% endif %}>
                    <a href="{{ root_url }}/">Aktualności</a>
                </li>
                <li class="special {% if page.navbar == 'Speakers' %}active{% endif %}">
                    <a href="{{ root_url }}/speakers/">Strefa prelegenta</a>
                </li>
                <li {% if page.navbar == 'Leaders' %}class="active"{% endif %}>
                    <a href="{{ root_url }}/leaders/">Liderzy</a>
                </li>
                <li {% if page.navbar == 'Partners' %}class="active"{% endif %}>
                    <a href="{{ root_url }}/partners/">Partnerzy</a>
                </li>
                <li class="hidden-sm">
                    <a href="http://www.meetup.com/Torun-JUG/" target="_blank">Meetup</a>
                </li>
                <li class="dropdown visible-sm">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Społeczności <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.meetup.com/Torun-JUG/" target="_blank">Meetup</a></li>
                        <li class="divider"></li>
                        <li><a href="https://groups.google.com/group/torunjug" target="_blank">Google Groups</a></li>
                        <li><a href="https://www.youtube.com/channel/UCLuHypXd9ODOivs7gRpxNZg" target="_blank">YouTube</a></li>
                        <li><a href="https://www.facebook.com/tak.dla.juga.w.toruniu" target="_blank">Facebook</a></li>
                        <li><a href="https://twitter.com/TorunJUG" target="_blank">Twitter</a></li>
                        <li><a href="https://www.linkedin.com/groups/Toru%C5%84-JUG-6937469" target="_blank">LinkedIn</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-sm">
                    <a href="https://groups.google.com/group/torunjug" target="_blank" title="Google Groups">
                      <span class="visible-xs">Google Groups</span>
                      <span class="hidden-xs fa fa-group fa-lg"></span>
                    </a>
                </li>
                <li class="hidden-sm">
                    <a href="https://www.youtube.com/channel/UCLuHypXd9ODOivs7gRpxNZg" target="_blank" title="YouTube">
                      <span class="visible-xs">YouTube</span>
                      <span class="hidden-xs fa fa-youtube-play fa-1-5x"></span>
                    </a>
                </li>
                <li class="hidden-sm">
                    <a href="https://www.facebook.com/tak.dla.juga.w.toruniu" target="_blank" title="Facebook">
                      <span class="visible-xs">Facebook</span>
                      <span class="hidden-xs fa fa-facebook fa-1-5x"></span>
                    </a>
                </li>
                <li class="hidden-sm">
                    <a href="https://twitter.com/TorunJUG" target="_blank" title="Twitter">
                      <span class="visible-xs">Twitter</span>
                      <span class="hidden-xs fa fa-twitter fa-1-5x"></span>
                    </a>
                </li>
                <li class="hidden-sm">
                    <a href="https://www.linkedin.com/groups/Toru%C5%84-JUG-6937469" target="_blank" title="Twitter">
                      <span class="visible-xs">LinkedIn</span>
                      <span class="hidden-xs fa fa-linkedin fa-1-5x"></span>
                    </a>
                </li>
                {% if site.simple_search %}
                <li class="hidden-xs hidden-sm hidden-md visible-lg">
                    <form class="search navbar-form navbar-right" action="{{ site.simple_search }}" method="GET">
                        <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
                        <div class="form-group">
                            <input class="form-control" type="text" name="q" placeholder="Szukaj">
                        </div>
                    </form>
                </li>
                {% endif %}
                <li>
                    <a class="subscribe-rss" href="{{ site.subscribe_rss }}" title="RSS">
                        <span class="visible-xs">RSS</span>
                        <span class="hidden-xs fa fa-rss fa-1-5x"></span>
                    </a>
                </li>
                {% if site.subscribe_email %}
                <li class="hidden-sm">
                    <a class="subscribe-email" href="{{ site.subscribe_email }}" title="Subscribe via email">
                        <span class="visible-xs">Email</span>
                        <img class="hidden-xs" src="{{ root_url }}/images/email.png" alt="Email">
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
