.panel.about-us {
  #duke-image {
    img {
      width: 260px;
      height: 260px;
      margin-top: 15px;
    }
  }
  .panel-body {
    text-align: justify;
  }
}

.panel.recommendations {
  .panel-body {
    text-align: center;
    padding: 0px;
    .recommended {
      margin: 5px;
      img {
        max-width: 100%;
      }
    }
  }
}

.navbar {
  .search {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.speaker-face {
  float: left;
  height: 100px;
  width: 100px;
  margin-right: 15px;
}

.sharing {
  .fb-like > span {
    vertical-align: baseline !important;
  }
}

.fa-1-5x {
  font-size: 1.5em;
  line-height: 0.7em;
  vertical-align: -20%;
}

.no-text-decoration {
  text-decoration: none !important;
}

#torun-jug-logo {
  margin-bottom: 21px;
  #duke-image {
    text-align: center;
    img {
      width: 200px;
      height: 369px;
    }
  }
}