$screen-300: 300px;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

.navbar-fixed-top {
  border-width: 1px;
}

.navbar {
  .nav {
    li.special {
      a {
        color: #ff0039;
      }
    }
  }
}

@media (max-width: ($screen-sm - 1)) {
  .navbar-nav {
    margin: 0px -15px;
  }
}

@media (min-width: $screen-sm) {
  .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
  }
}

@media (min-width: $screen-sm) {
  .navbar-nav > li > a {
    padding: 14.5px 8px;
  }
}

@media (min-width: $screen-md) {
  .navbar-nav > li > a {
    padding: 14.5px 12px;
  }
}

body { 
  padding-top: 73px; 
}

.panel.about-us {
  #duke-image {
    img {
      width: 260px;
      height: 260px;
      margin-top: 15px;
    }
  }
  .panel-body {
    text-align: justify;
  }
}

.panel.recommendations {
  .panel-body {
    text-align: center;
    padding: 0px;
    .recommended {
      padding: 0px 5px 5px 5px;
      img {
        padding-top: 5px;
        max-width: 100%;
      }
    }
  }
}

.navbar {
  .search {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.speaker-face {
  float: left;
  height: 100px;
  width: 100px;
  margin-right: 15px;
}

.sharing {
  .fb-like > span {
    vertical-align: baseline !important;
  }
}

.fa-1-5x {
  font-size: 1.5em;
  line-height: 0.7em;
  vertical-align: -20%;
}

.no-text-decoration {
  text-decoration: none !important;
}

#torun-jug-logo {
  margin-bottom: 21px;
  #duke-image {
    text-align: center;
    img {
      width: 200px;
      height: 369px;
    }
  }
}

.panel.leader {
  cursor: pointer;
  .panel-body {
    padding: 0;
    margin: 0;
  }
}

.modal.leader {
  .description {
    margin-top: 15px;
  }
  .modal-footer {
    margin-top: 0px;
    padding: 5px 20px 5px 5px;
    a {
      color: #ccc;
    }
    a:hover, a:focus {
      color: #222;
    }
    a.social {
      margin-left: 10px;
    }
  }
}

@media (max-width: ($screen-xs - 1)) {
  .jumbotron-not-found {
    padding: 3px;
  }
}

@media (max-width: ($screen-300 - 1)) {
  .jumbotron-not-found {
    h1 {
      font-size: 26px;
    }
  }
}